<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lwh.jackknife.demo">

    <application
        android:name=".base.BaseApplication"
        android:theme="@style/JackKnife.Theme"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ioc.MenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".log.LoggerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".toast.ToastActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".basemodel.BaseModelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ioc.IocActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ioc2.Ioc2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".commonadapter.CommonAdapterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.ArticleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".orm.OrmActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shadeview.ShadeViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".horizontaltabbar.HorizontalTabBarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".multiradiogroup.MultiRadioGroupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".letterview.LetterViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".nestedscrollinglistview.NestedScrollingListViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".radarview.RadarViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".flowlayout.FlowLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".clearedittext.ClearEditTextActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".highlighttextview.HighlightTextViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".macedittext.MacEditTextActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".animatorscrollview.AnimatorScrollViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".bottomnavigationbar.BottomNavigationBarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".instrumentview.InstrumentViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".serialnumberedittext.SerialNumberEditTextActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".verifycodeedittext.VerifyCodeEditTextActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".titlebar.TitleBarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".colorpickerview.ColorPickerViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".animator.AnimatorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".slidingmenu.SlidingMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".progressbutton.ProgressButtonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gifview.GifViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".circularprogressbar.CircularProgressBarActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>